{% extends "checkpoint/base.html" %}

{% block search %}
<div class="px-3 py-2 border-bottom mb-3">
  <div class="container d-flex flex-wrap justify-content-center">
    <form method="GET" action="{% url 'home' %}" 
          class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">

      <input 
          type="search" 
          name="q"
          value="{{ request.GET.q }}"
          class="form-control" 
          placeholder="Buscar equipamento..."
      >
    </form>
  </div>
</div>
{% endblock %}

{% block content %}
<main class="container my-5">
    <h2 class="mb-4">Status do Sistema</h2>
    <div class="row justify-content-center">
        <div class="row row-cols-1 row-cols-md-3 g-4">

    {% for equipamento in equipamentos %}

    <div class="col">
        <div class="card shadow-sm h-100 d-flex flex-column">

            <div class="card-body">

                <div>
                <h5 class="card-title">
                    {{ equipamento.nomeEquipamento }}
                </h5>
                </div>

                <p>
                    Número: {{ equipamento.numeroEquipamento }}
                </p>

                <strong>Status:</strong>

                {% if equipamento.status == "Disponivel" %}
                    <span class="badge bg-success-subtle text-success px-3 py-2 rounded-pill mb-3">
                        🟢 Disponível
                    </span>

                    <div class="d-grid">
                        <a href="/reservar/{{ equipamento.id }}" 
                           class="btn btn-success rounded-3 fw-semibold">
                            Reservar
                        </a>
                    </div>
                {% else %}
                    <span class="badge bg-danger-subtle text-danger px-3 py-2 rounded-pill">
                        🔴 Ocupado
                    </span>

                    <div class="text-center mt-3">
                        <span class="fw-semibold text-muted">
                            Já está reservado
                        </span>
                    </div>
                {% endif %}

            </div>

        </div>
    </div>

    {% empty %}
        <p>Nenhum item cadastrado.</p>
    {% endfor %}
    </div>
                    

                    
</main>

{% endblock %}